body {
    min-height: 800px;
    border: 8px solid black;
    display: flex;
    /* justify-content: space-evenly;
    align-items: center; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.box {
   height: 200px;
   width: 200px;
   background-color: #0071ff;
   font-size: 40px;
}
