body {
    /* To align entire page content*/
    min-height: 800px;
    border: 8px solid black;
    display: flex;
    /* justify-content: space-evenly;
    align-items: center; */
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-end;
    
}
#box1 {
    margin-right: auto;
}


.box {
    /* To align individual boxes/content */
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: #0071ff;
    font-size: 40px;

}